.btn {
  width: 18rem;
  height: 1.2rem;
  padding: .5rem;
  background-color: aqua;
  color: #333;
  display: flex;
  margin: 0 auto;
  border-radius: .3rem;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  gap: .5rem;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(144, 150, 178, .3);
  transform: scale(1.05);
}

.icon-btn {
  width: 1rem;
  height: 1rem;
}

.icon-btn2 {
  width: 1rem;
  height: 1rem;
  display: none;
}

.icon-btn.active {
  display: none;
}

.icon-btn2.active {
  display: block;
}